<head>
  <link rel="stylesheet" href="/stylesheets/style-home.css" />
</head>

<article class = "projDesc">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div>
    Use our brain trainer <br>
    Prepare for Assessment Centers and Logic-Tests <br>
    Stay always FIT <br>
    Signup and try out our amazing brain game
  </div>

</article>

