<head>
  <link rel="stylesheet" href="/stylesheets/style-privat.css" />
</head>

<article class = "intro">
  <section>    
    <p>Welcome to your {{title}} training page</p>
    <div>
      IQtty is designed for training matrix tests.<br>
      Matrix tests are used in assessment centers to examine your skills in inductive reasoning.<br>
      A matrix consists or nine boxes. One box is empty.<br>
      Your task is to discover logical connections and compose the empty box based on the rule you found.<br>
      <br>
      Click here to start a test</a><br>
      <div class="buttonPrivatPageBox">
        <form action = "/test/new" >
            <input class="rbuttonPrivatPage" type="submit" value="Start test"/>
        </form>    
      </div>
      <br>
      Your results you can find under <a href="/resultlist">Test Result List</a>     
    </div>
  </section>
</article>