<head>
  <link rel="stylesheet" href="/stylesheets/style-privat.css" />
</head>

<article class = "intro">
  <section>
    <h1>{{title}}</h1>
    <p>Welcome to your {{title}} trainings page</p>
    <div>
      Page after login <br>
      Text <br>
      Text <br>
      Text
    </div>
  </section>
</article>